*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    /* background: #F5EAEA; */
    background: #F9F9F9;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    height: 80px;
    width: 100%;
}

.logo{
    color: #F16767;
    font-size: 200%;
    line-height: 120px;
    padding: 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    
    margin: 0 20px;
    
}
nav ul li a{
    color: #4D4D4D;
    font-weight: bold;
    font-size: 100%;
    line-height: 80px;
}
nav ul li a:hover{
    color: #D864A9;
    transition-duration: 0.5ms;
}

.container {
    width: 100%;
    height: 250px;
    background-image: url("../images/lider-kadınlar-homepage.png");
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 140%;
    word-spacing: 5px;
}

.haberler{
    width: 100%;
    height: 900px;
    padding: 4% 0 0 0;
    background: #F9F9F9;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: #333
}

.first_3_card{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.last_3_card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 330px;
    height: 330px;
    background-color: #f88221;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 5px 5px 20px #161149;
    overflow: hidden;
} 
.card img{
    border-radius: 25px;
}

.text{
    /* padding: 6px;
    box-sizing: border-box; */

    height: 60px;
    width: 270px;
    color: rgb(255, 255, 255);
    padding: 15px;
    box-sizing: border-box;
    bottom: 250px;
    position: absolute;
    border-radius: 25px;
    background: rgba(255, 119, 0, 0.834);

    /* background: rgba(27, 27, 27, 0.3); */
}
/* ffa559 */
.text p{
    visibility: hidden;
    opacity: 0;
}


.card :hover {
    cursor: pointer;
}

.text:hover{
    height: 270px;
    bottom: 47px;
    background: rgba(27, 27, 27, 0.8) ;
 }

 .text:hover p{
    opacity: 1;
    visibility: visible;
 }

.text a{
    color: #f88221;
}
.text2 a{
    color: #f88221;
}
 
 .card2{
    width: 330px;
    height: 330px;
    background-color: #f88221;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 5px 5px 20px #161149;
    overflow: hidden;
} 
.card2 img{
    border-radius: 25px;
}


.text2{
    /* padding: 6px;
    box-sizing: border-box; */

    height: 60px;
    width: 270px;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    bottom: -165px;
    position: absolute;
    border-radius: 25px;
    background: rgba(255, 119, 0, 0.834);
}
/* ffa559 */
.text2 p{
    visibility: hidden;
    opacity: 0;
}


.card2 :hover {
    cursor: pointer;
}

.text2:hover{
    height: 270px;
    bottom: -365px;
    background: rgba(27, 27, 27, 0.8) ;
 }

 .text2:hover p{
    opacity: 1;
    visibility: visible;
 }

 footer{
    background-color: #1111;
}
.footer-container{
    width: 100%;
    padding: 40px 20px 20px;
}

.socials{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;

}
.socials a{
    padding: 20px 10px 10px 10px;
    margin: 20px;

}
.socials a i {
    font-size: 2em;
    color: black!important;
}


.socials a:hover i{
    color: #D864A9!important;
    transition-duration: 0.5ms;  
    opacity: 1;
}

.footer-navbar{
    margin: 30px 0;
}
.footer-navbar ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
.footer-navbar ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-navbar ul li a:hover{
    color: #D864A9;
    opacity: 1;
}

.footer-bottom{
    text-align: center;
}
.footer-bottom span{
    color:darkmagenta;
    font-weight: 400;
    margin: 0 5px;
}